.products-title {
    float: left;
    margin-left: 7%;
    font-size: 40px;
    margin-top: 5vh;
    font-family: 'Avenir', Helvetica, Arial;
    color: #333333;
}

.products-container {
    display: flex;
    flex: 1;
    width: 90%;
    margin-left: 5%;
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    width: 22.5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: min-content;
    margin: 10px;
    border: 4px solid rgb(103, 103, 233);
    border-radius: 8px;
    transition: .3s;
}
.product:hover {
    box-shadow: 0px 5px 15px rgba(0,0,0,.3);
    transition: .3s;
}

.delete-button {
    height: 35px;
    color: red;
    font-size: 14px;
}