.wrapper {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.products-title {
    float: left;
    margin-left: 7%;
    font-size: 40px;
    margin-top: 5vh;
    font-family: 'Avenir', Helvetica, Arial;
    color: #333333;
}

.products-container {
    display: flex;
    flex: 1;
    width: 100%;
    margin-left: 5%;
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    width: 28%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    font-family: 'Avenir', Helvetica, Arial;
    color: #333333;
    flex-direction: column;
    height: min-content;
    margin: 10px;
    border: 4px solid rgb(103, 103, 233);
    border-radius: 8px;
    transition: .3s;
}
.product:hover {
    box-shadow: 0px 5px 15px rgba(0,0,0,.3);
    transition: .3s;
}

.delete-button {
    height: 35px;
    color: #fafafa;
    font-family: 'Avenir', Helvetica, Arial;
    background-color: #911919;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    margin: 5px;
}